#cart-container{
  
  margin: 8vh;
  padding: 10px;
  align-items: center;
  

}

.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 150px;
  width: 600px;
  gap: 5px;
}

.tarjeta-producto img{
  height: 100%;
}

.tarjeta-producto h3{
  width: 130px;
}
.tarjeta-producto div{
  background-color: var(--color-acento-claro);
  padding: 8px;
  border-radius: 5px;
}

#totales{
  text-align: center;
}

#carrito-vacio{
  text-align: center;
}